@import 'reset.css';
/*-------------------Fonts------------*/
@font-face{
	font-family: headerFont;
	src: url("fonts/DancingScript-Regular.otf");
}
@font-face{
	font-family: bodyNorm;
	src: url("fonts/josefin-sans/JosefinSans-Regular.ttf");
}
@font-face{
	font-family: bodyBold;
	src: url("fonts/josefin-sans/JosefinSans-Bold.ttf");
	font-weight: bold;
}
@font-face{
	font-family: bodyItalics;
	src: url("fonts/josefin-sans/JosefinSans-Italic.ttf");
}
@font-face{
	font-family: headings;
	src: url("fonts/Philosopher-Regular.ttf");
}
/*-------------Font Sizes-----------------*/
p{	font-size: 18pt;}
h1{ 
	font-size: 55pt;
	font-family: headerFont;
}
h2{ 
	font-family: headings;
	font-size: 22pt;
	padding-bottom: 30px;
	color: #000;
}
h3{ font-size: 20pt;}
/*------------ Nav--Bar------------*/
nav{
	font-size: 14pt;
	padding: 20px 0;
}
nav ul li{
	list-style: none;
	display: inline;
	border-right: 3px ridge white;
	padding: 0 20px 0 20px;
}
nav ul li:last-child{
	border: none;
}
/*-----------------Links------------*/
a:link{
	color: #e96133;
}
a:visited{
	color: #e96133;
	/*#5c1f0a;*/
}
a:active{
	/*Show coffee bean or cup*/
	font-family: headerFont;
}
a:hover{
	color: #672526;
}
/*-------------- Header------------*/
.header{
	width: 82%;
	display: inline-block;
	/*border: 2px solid black;*/
}
#big_title{
	margin-top: 20px;
}
.logo{
	width: 150px;
	padding-right: 10px;
	float: left;
}
/*-------------------Body------------*/
body{
	font-family: bodyNorm;
	background-color: #552c11;
	/*background-color: #f2f2f2;*/
	/*color: #f1e1d1;*/
	text-align: center;
}
#container{
	background-color: #f1e1d1;
	color: black;
	padding: 30px;
	width: 1200px;
	margin: 0 auto;
}
.indexPg img{
	width: 1000px;
}
table{
	/*border: 1px solid red;*/
	margin: 20px auto;
	width: 1000px;
}
td{
	border-right: 2px ridge white;
	padding: 25px;
	background-color: #43ced1;
}
td:last-child{
	border: none;
}
/*---------Social Part-----------------*/
.connect{
	width: 980px;
	/*border: 3px ridge black;*/
	margin: 30px auto 30px auto;
	padding: 10px;
	display: inline-block;
	background-color: #bf6326;
	/*background-color: #d46e2b;*/
}
.socialLeft img{
	width: 50px;
}
.socialLeft{
	float: left;
}
.rightSide{
	float: right;
}
/*---------Copyrights and Validators---------------*/
footer a img{
	width: 60px;
}
footer{
	margin-top: 20px;
	border-top: 2px ridge #d2a679;
	padding: 5px;
}
/*---------------Overlapping------------*/
.bodyInfo, .chooseCoffee, section ul li, .sub{
	margin: 0 auto;
	width: 1000px;
}
/*-----------------About Us------------*/
.bodyInfo h2{
	padding-bottom: 
}
.bodyInfo p{
	text-indent: 30px;
	text-align: left;
}
.frenchPress{
	padding: 10px;
	float: right;
}
/*------Subscribe page---------*/

.p1{
	padding: 20px;
	padding-bottom: 150px;
}
.sub h1{
	color: #43ced1;
}
/*------Our Shop---------*/
.chooseCoffee img{
	width: 220px;
	height: 200px;
	padding: 10px;
}
.chooseCoffee p{
	text-align: center;
}
/*------Reviews---------*/
section{
	text-align: left;
}
section img{
	width: 200px;
	height: 80px;
	/*border: 1px solid black;*/
}
section blockquote{
	font-family: headings;
	padding-top: 20px;
	float: right;
}
section ul li{
	/*border: 1px solid blue;*/
	width: 600px;
}
#googleMap{
	margin: 0 auto;
	border: 4px ridge black;
	width: 500px;
	height: 500px;
}